html {
    box-sizing: border-box;
    font-size: 100%;
}
body {
    padding: 0;
    margin: 0;
}
nav {
    padding: 10px;
    background-color: lightgray;
}
main {
    padding: 12px;
}
footer {
    padding: 12px;
    background-color: lightgray;
}

details {
    padding: 10px;
}

.hide {
    display: none;
}