/* JS-enabled autocomplete-stuff
   Base-rules and styles are defined in header.css
*/
/* js-only styling when expanded */
#autocomplete[data-expanded=true] .autocomplete-input {
	border-bottom-left-radius: 0;
}
#autocomplete[data-expanded=true] button {
	border-bottom-right-radius: 0;
}
/* Show loader on ajax-fetching */
#autocomplete[data-loading=true] .autocomplete-input::after {
	content: "";
	border: 3px solid rgba(14, 13, 13, 0.12);
	border-right-color: rgba(0, 0, 0, .48);
	/* border: 3px solid red; */
	border-radius: 100%;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
	animation: rotate 1s linear infinite;
}

/* TIPS-CONTAINER */
.autocomplete-tips {
	display: none;
	position: absolute;
	z-index: 2;
	top: 100%;
	width: 100%;
	padding-left: .5em;
	padding-right: .5em;
}
/* Only show when js has set attributes on input-field */
.autocomplete-input[role="combobox"]:focus ~ .autocomplete-tips {
	display: block;
}

/* RESULTS-CONTAINER */
.autocomplete-tips,
.autocomplete-result-list {
	max-height: 20em;
	overflow-y: auto;
	color: var(--color-dark);
	background-color: white;
    padding-top: .4em;
	padding-bottom: .4em;
	border-radius: 0 0 .25em .25em;
	padding-bottom: .4em;
	box-shadow: 0 8px 12px rgba(202, 134, 134, 0.2);
	/* box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3),0 1px 3px 1px rgba(60,64,67,0.15); */
}

/* SINGLE RESULT-ITEM */
li.autocomplete-result {
    border-bottom: 1px solid rgb(240, 240, 240);
}
li.autocomplete-result:hover,
li.autocomplete-result[aria-selected=true] {
	cursor: pointer;
	background-color: var(--color-tint-8);
}

/* Content of an autocomplete-listitem */
a.autocomplete-result-link {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: .4em .5em;
	text-decoration: none;
}
.autocomplete-result-label {
    white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: underline;
	color: rgb(34, 34, 236);
    font-size: 90%;
}
.autocomplete-result-label {
	/* background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" class="icon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M278.9 511.5l-61-17.7c-6.4-1.8-10-8.5-8.2-14.9L346.2 8.7c1.8-6.4 8.5-10 14.9-8.2l61 17.7c6.4 1.8 10 8.5 8.2 14.9L293.8 503.3c-1.9 6.4-8.5 10.1-14.9 8.2zm-114-112.2l43.5-46.4c4.6-4.9 4.3-12.7-.8-17.2L117 256l90.6-79.7c5.1-4.5 5.5-12.3.8-17.2l-43.5-46.4c-4.5-4.8-12.1-5.1-17-.5L3.8 247.2c-5.1 4.7-5.1 12.8 0 17.5l144.1 135.1c4.9 4.6 12.5 4.4 17-.5zm327.2.6l144.1-135.1c5.1-4.7 5.1-12.8 0-17.5L492.1 112.1c-4.8-4.5-12.4-4.3-17 .5L431.6 159c-4.6 4.9-4.3 12.7.8 17.2L523 256l-90.6 79.7c-5.1 4.5-5.5 12.3-.8 17.2l43.5 46.4c4.5 4.9 12.1 5.1 17 .6z"></path></svg>');
	background-repeat: no-repeat;
	background-size: 1em; */
}
.autocomplete-result-sublabel {
	text-decoration: none;
	color: var(--color-dark);
	font-size: 80%;
}

@keyframes rotate {
	0% {
		transform: translateY(-50%) rotate(0deg);
	}
	to {
		transform: translateY(-50%) rotate(359deg);
	}
}

