/*  The button and svg is added with js, as it doesn't make sense
    to show them if the panel is not hidden
*/
[data-collapsible-header] button {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

[data-collapsible-header] button:hover {
  cursor: pointer;
}

/* The svg is added with js, as */
[data-collapsible-header] button svg {
  height: 1em;
  margin-left: 0.5em;
  align-self: center;
}

[data-collapsible-header] button[aria-expanded="true"] .vert {
  display: none;
}

[data-collapsible-header] button[aria-expanded] rect {
  fill: currentColor;
}