/*  The button and svg that is styled here is added with js, as it
    doesn't make sense to show them if the panel is not collapsible
    with js.

    If the collapsible panel is to float over content, instead of 
    pushing it down, you need add position: relative to the parent-
    element of data-collapsible-header and position:absolute to the
    collapsible panel.
*/


/* The js-inserted button */
[data-collapsible-trigger] {
    display: flex;
    justify-content: space-between;
}

[data-collapsible-trigger]:hover {
    cursor: pointer;
}

[data-collapsible-trigger] span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

[data-collapsible-trigger] svg {
    height: 1em;
    margin-left: 0.5em;
    align-self: center;
    /* Prevent shrinking when text in the span inside button is overflowing */
    flex-shrink: 0;
}

/* the vertical line in the svg */
[data-collapsible-trigger][aria-expanded="true"] .vert {
    display: none;
}

/* enables high contrast color */
[data-collapsible-trigger][aria-expanded] rect {
    fill: currentColor;
}