/* the details-wrapper */
.disclosure {
    position: relative;
}

/* Summary */
.disclosure summary {
    cursor: pointer;
    list-style: none; /* hide triangle */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.disclosure summary::-webkit-details-marker {
    display: none; /* hide triangle for chrome */
}

/* Icon-part of summary */
.disclosure summary .icon {
    margin-left: .25em;
    /* Prevent shrinking when text in the span inside button is overflowing */
    flex-shrink: 0;
}
.disclosure[open] > summary > .icon {
    transform: rotate(180deg);
}

/* Dropdown-content */
.disclosure .dropdown,
.disclosure .dropdown-right {
    position: absolute;
    top: 100%;
    margin-top: .3em;
    z-index: 10;
    background-color: rgb(245, 245, 245);
    padding-top: .4em;
    padding-bottom: .4em;
    box-shadow: 0 8px 12px rgba(147, 147, 147, 0.2);
    border-radius: .25em;
}
.disclosure .dropdown {
    left: 0;
}
.disclosure .dropdown-right {
    right: 0;
    left: auto;
}
