/* Metadata-field */
/* Based on https://css-tricks.com/how-to-make-a-media-query-less-card-component/ */
.field {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
.field-key {
    flex-grow: 0; /* default */
    flex-shrink: 1; /* default */
    width: 16ch;
    overflow-x: hidden;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 80%;
    margin-right: .8em;
}
.field-value {
    flex-grow: 10;
    flex-shrink: 1;
    flex-basis: 50ch;
    margin-top: .2em;
    margin-bottom: .8em;
}

.media--reverse {
    display: flex;
    flex-wrap: wrap-reverse;
}
.media {
    display: flex;
    flex-wrap: wrap;
}
.media-object {
    flex-grow: 10;
    flex-shrink: 1; /* default */
    /* width: 20ch; */
    margin-right: .8em;
}
.media-object--fixed {
    flex-grow: 0;
    flex-shrink: 1;
    margin-right: .8em;
    width: 10em; /* needs to be overwritten */
}
.media-body {
    flex-grow: 10;
    flex-shrink: 1; /* default */
    /* flex-basis: 20ch; */
}
