/* Gallery-view */
/* https://css-tricks.com/auto-sizing-columns-css-grid-auto-fill-vs-auto-fit/ */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1em;
    font-size: 85%;
}
.galleryItem {
    display: grid;
    grid-template-rows: 80% 20%;
    height: 300px;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
}
.galleryItem:active,
.galleryItem:focus {
    outline: 2px solid var(--color-dark);
}
.galleryImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.galleryLabel {
    background-color: rgb(232, 232, 232);
    padding: .5em .8em;
}
.galleryDescription {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* height: 100%;
    width: 100%; */
    margin: 0;
    padding: 1em;
    background-color: var(--color-dark);
    color: var(--color-light);
    opacity: 0;
    transition: 500ms;
    overflow-y: scroll;
}
.galleryDescription h4 {
    margin: 0 0 .4em;
    color: var(--color-light);
}

.galleryItem:hover .galleryDescription,
.galleryItem:active .galleryDescription,
.galleryItem.active .galleryDescription {
    opacity: .9;
}
