html {
    box-sizing: border-box;
    font-size: 100%;
    height: 100%;
}
body {
    display: grid;
    grid-template-rows: auto 1fr auto; /* header, main and footer */
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'helvetica neue',arial,sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 1em;
    line-height: 1.25;
    color: var(--color-dark);
}
@media (min-width: 700px) {
    body {
        font-size: 1.125em;
        line-height: 1.4;
    }
}

a:visited,
a:hover,
a:link {
    color: inherit;
}

[hidden] { display: none; }

.globalMain {
    padding: 12px;
}
.globalFooter {
    padding: 12px;
    background-color: var(--bg-color-footer);
}

details {
    padding: 10px;
}

.visually-hidden {
    display: none;
}

.sr-only {
    position: absolute;
    left: -999em;}

@keyframes slideOutUp {
    from {
        transform: translate3d(0, 0, 0);
    }
  
    to {
        visibility: hidden;
        transform: translate3d(0, -100%, 0);
    }
}
  
.slideOutUp {
    animation-name: slideOutUp;
}