html {
    box-sizing: border-box;
    font-size: 100%;
    height: 100%;
}
body {
    display: grid;
    grid-template-rows: auto 1fr auto; /* header, main and footer */
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'helvetica neue',arial,sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 1em;
    line-height: 1.5;
    color: var(--color-dark);
}


@media (min-width: 700px) {
    body {
        font-size: 1.125em;
    }
}

h1 {
    font-size: 2em;
    /* margin-bottom: 25px; */
    color: #2d3748;
    /* max-width: 20em; */
}
h2 {
    font-size: 1.7em;
    /* margin-bottom: 20px; */
    color: #2d3748;
    /* max-width: 20em; */
}
h3 {
    font-size: 1.4em;
    /* margin-bottom: 15px; */
    color: #2d3748;
    /* max-width: 25em; */
}
h4 {
    font-size: 1.1em;
    /* margin-bottom: 10px; */
    color: #2d3748;
    /* max-width: 30em; */
}
@media (min-width: 700px) {
    h1 {
        font-size: 2.2em;
        line-height: 1.04167;
    }
}
[hidden] { display: none; }

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* 
a:hover {
    cursor: pointer;
} */
a[aria-current] {
    text-decoration: none;
}
/* a[aria-current]:hover,
a[aria-current]:focus {
    cursor: initial;
} */

img {
    width: 100%;
    height: auto;
}

button {
    font: inherit;
    font-size: inherit;
    line-height: inherit;
    appearance: none;
    -webkit-appearance: none;
    font-size: 1em;
    line-height: 1.4em;
    border: 0;
    border-radius: 0.25rem;
    background: var(--color-dark);
    color: white;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}

/* button:focus {
    outline: 0;
    box-shadow: 0 0 1px 4px var(--color-green-dark);
} */
/*  Set the width and height to be 1em, which will be the font-size of its parent element.
    Because the icon's dimensions are set with ems, we can affect it's size using font size
    Just add an additional class to the icon to set the font-size
*/
.icon {
    width: 1em;
    height: 1em;
}

#main {
    /* margin: 0 auto;
    max-width: 1280px; */
    padding: 1.2em;
}
@media (min-width: 45em) {
    main {
        padding: 2em;
    }
}


.globalFooter {
    padding: 12px;
    background-color: var(--bg-color-footer);
}

.visually-hidden {
    display: none;
}

.skipLinks,
.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
