/* List-view */
.listitem {
    display: grid;
    grid-template-columns: minmax(6em, auto) 1fr;
    gap: .6em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid var(--color-lightgray);
}

/* conatainer for thumb */
.listitem-image {
    grid-row: 1;
}
.listitem-image img {
    object-fit: cover;
}
/* container for heading and summary */
.listitem-heading {
    grid-row: 1;
}
    .listitem-summary,
    .listitem-label {
        font-size: 1.1em;
        font-weight: normal;
    }
    .listitem-summary a,
    .listitem-label a {
        text-decoration: none;
    }

/* container for metadata */
.listitem-info {
    grid-row: 2;
    grid-column: 1/ span 2;
}
/* single metadata-field */
.listitem-info .media {
    align-items: center;
}
.listitem-info .media-object {
    /* static width */
    width: 8em;
    flex-grow: 0;
    /* style */
    overflow-x: hidden;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 75%;
}
.listitem-info .media-body {
    width: 33ch;
    font-size: 90%;
}
