
/*  WAI MenuButton
    https://www.w3.org/TR/wai-aria-practices-1.2/examples/menu-button/css/MenubuttonLinks.css
    https://github.com/Heydon/inclusive-menu-button/blob/master/inclusive-menu-button.css
 */

/* Generic styles for all MenuButtons */

[data-menu-wrapper] {
    position: relative;
}

.no-js [data-menu-wrapper] [role="menu"] {
    display: block;
    position: initial;
}
.js [data-menu-trigger]:hover {
    cursor: pointer;
}
/* 
[data-menu-trigger][aria-expanded="false"]::after  {
    content: "\22C1";
    float: right;
}

[data-menu-trigger][aria-expanded="true"]::after  {
    content: "\22C0";
    float: right;
}
*/

[data-menu-wrapper] [role="menu"] {
    display: none;
    position: absolute;
    list-style: none;
    background-color: white;
    z-index: 10;
}

[data-menu-from="right"] {
    left: auto;
    right: 0;
    text-align: right;
}

[data-menu-from="left"] {
    left: 0;
}

[data-menu-wrapper] [role^="menuitem"] {
    display: block;
    white-space: nowrap;
    border: 0;
    padding: .4em .6em;
}

/* Currently not in use */
[data-menu-wrapper] [role^="menuitem"][aria-checked="true"]::before {
    content: '\2713\0020';
}

