.pagination {
    display: flex;
    align-items: center;
}
.pagination svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}
.pagination span {
    padding-left: .2em;
    padding-right: .2em;
}
.pagination a {
    padding: .5em .7em;
    text-align: center;
}
.pagination a:not([aria-disabled="true"]):hover {
    background-color: #e9e9e9;
}
.pagination a[aria-disabled="true"] {
    color: var(--color-tint-6);
    cursor: initial;
    text-decoration: none;
}