/* Resource-layout */
.resource-representation {
    margin-bottom: 1em;;
}
.resource-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e2e2e2;
    padding: .3em .6em .4em .6em;
    background-color: whitesmoke;
    border-radius: 3px;
    margin-bottom: 1.5em;
}
.resource-pagination a.prev {
    margin-right: .3em;
}
.resource-portrait {
    /* box-shadow: 0 12px 48px rgba(15, 17, 20, 0.3); */
    box-shadow: 0 8px 24px rgba(149,157,165,0.2);
}


@media (min-width: 50em) {
    .resource-hero {
        display: grid;
        grid-template-columns: minmax(15em, 45%) 1fr;
        grid-template-rows: auto 1fr;
        column-gap: 2em;
        padding-bottom: 2em;
    }
    .resource-representation {
        grid-column: 1;
        grid-row: 1 / span 2;
    }
    .resource-pagination {
        grid-column: 2;
        grid-row: 1;
    }
    .resource-core {
        grid-column: 2;
        grid-row: 2;
    }
}

/* DISCLOSURES */
.resource .field .disclosure {
    margin-bottom: .3em;
}
.resource .field summary {
    color: var(--link-color);
    border: 1px solid lightgray;
    border-radius: 2px;
    padding: .2em .4em;
}
.resource .field summary:hover {
    background-color: #e9e9e9;
}
.resource .field-value > div {
    margin-bottom: .3em;
}
.resource-core .field-value {
    flex-basis: 20ch;
}

/* HEADINGS */
.resource h1 {
    margin: 0;
    font-size: 1.4em;
    padding-bottom: 1em;
    font-weight: normal;
    font-style: italic;
}
.resource h2 {
    margin: 1em 0 .6em 0;
    font-size: 1.3em;
    font-weight: normal;
    padding-bottom: .2em;
    border-bottom: 1px solid var(--color-gray);
}
