/* LAYOUT */
.resource-toolbar-inner,
.resource-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
.resource-wrapper {
    padding: 1em .7em 2em .7em;
}
.resource-representation {
    margin-bottom: 1em;;
}

/* TOOLBAR */
.resource-toolbar-inner {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
}
/* Toolbar - elements */
.resource-actions {
    display: flex;
    flex-grow: 1;
    /* padding: .4em 0; */
    min-width: 17em;
}
.resource-actions a {
    display: flex;
    align-items: center;
    padding: .5em;
    border-right: 1px solid #e2e2e2;
}
.resource-actions a:first-child {
    border-left: 1px solid #e2e2e2;
}
.resource-toc {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .7em;
}
.resource-toc summary {
    color: var(--link-color);
    padding: .2em;
}
.resource-navigation {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    padding: .5em 0;
    min-width: 17em;
    background-color: var(--color-tint-8);
}
@media (min-width: 46em) {
    .resource-navigation {
        background-color: transparent;
    }
}

.resource-portrait {
    /* box-shadow: 0 12px 48px rgba(15, 17, 20, 0.3); */
    box-shadow: 0 8px 24px rgba(149,157,165,0.2);
}

@media (min-width: 46em) {
    .resource-toolbar {
        background-color: var(--color-tint-8);
    }
}

.resource-toolbar a:hover,
.resource-toolbar summary:hover {
    background-color: var(--color-tint-6);
}



@media (min-width: 30em) {
    .resource-hero {
        display: grid;
        grid-template-columns: minmax(6em, 30%) 1fr;
        grid-template-rows: auto 1fr;
        column-gap: 2em;
        padding-bottom: 2em;
    }
    .resource-representation {
        grid-column: 1;
        grid-row: 1 / span 2;
    }
    /* .resource-pagination {
        grid-column: 2;
        grid-row: 1;
    } */
    .resource-core {
        grid-column: 2;
        grid-row: 2;
    }
}

/* DISCLOSURES */
.resource .field .disclosure {
    margin-bottom: .3em;
}
.resource .field summary {
    color: var(--link-color);
    border: 1px solid lightgray;
    border-radius: 2px;
    padding: .2em .4em;
    /* width: max-content; */
}
.resource .field summary:hover {
    background-color: #e9e9e9;
}
.resource .field .disclosure .title {
    padding-right: .5em;
    border-right: 1px solid lightgray;
}
.resource .field-value > div {
    margin-bottom: .3em;
}
.resource-core .field-value {
    /* flex-basis: 20ch; */
}

/* HEADINGS */
.resource h1 {
    margin: 0;
    font-size: 1.3em;
    padding-bottom: 1em;
    font-weight: normal;
    font-style: italic;
}
.resource h2 {
    margin: 1em 0 .6em 0;
    font-size: 1.2em;
    font-weight: normal;
    padding-bottom: .2em;
    border-bottom: 1px solid var(--color-gray);
}
