<!doctype html>
<html lang="da">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ url_for('static', path='/css/app.css') }}" rel="stylesheet">
    <title>OpenAPI frontend template</title>
  </head>

  <body>
    <nav class="">
        <a class="" href="{{ url_for('home') }}">Home</a>
        {# <a class="" href="{{ url_for('resource') }}">Resource</a> #}
    </nav>

    {% block content %}{% endblock content %}

    <footer>
      <span>&copy; Aarhus Stadsarkiv 2020</span>
    </footer>
  </body>
</html>
