<!doctype html>
<html lang="da" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock title %}</title>
        <meta name="description" content="{% block description %}{% endblock description %}">
        <link href="{{ url_for('static', path='/css/variables.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='/css/global.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='/css/header.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='/css/forms.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='/css/search.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='/css/treeview.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='/css/accordion.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='/css/collapsible.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='/css/menubutton.css') }}" rel="stylesheet">
        <meta property="og:image" content="{{ url_for('static', path='/images/logo.png') }}">
        <meta property="og:url" content="">
        <meta name="twitter:card" content="{% block twitter_card %}{% endblock twitter_card %}">
        <!--  Non-Essential, But Recommended -->
        <meta property="og:site_name" content="Aarhusarkivet.dk">
        <meta name="twitter:image:alt" content="{% block twitter_img %}{% endblock twitter_img %}">
        <!-- Inline js not allowed. Change the rule -->
        <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
        {% block extra_head %}{% endblock extra_head %}
    </head>

    <body class="{% block bodyclass %}{% endblock %}">
        <header class="globalHeader" role="banner">
            <a class="globalLogo" href="{{ url_for('home') }}">
                <img src="{{ url_for('static', path='/images/logo_white.png') }}" alt="Gå til forsiden af Aarhusarkivet">
            </a>
            <div class="globalMenu">
                <nav class="globalNavigation" aria-labelledby="globalNavigation-label" data-menu-wrapper>
                    <h2 id="globalNavigation-label" hidden>Aarhusarkivets hovedmenu</h2>
                    <button class="menuButton" data-menu-trigger aria-expanded="false" aria-controls="hovedmenu">Menu</button>
                    <ul id="hovedmenu" role="menu" data-menu-from="right">
                        <li><a role="menuitem" href="{{ url_for('about') }}">About</a></li>
                        <li><a role="menuitem" href="/resources/records/191801">Sample Record</a></li>
                    </ul>
                </nav>
                {% if request.session.get("user") %}
                    <nav class="userNavigation" aria-labbelby="userNavigation-label">
                        <h2 id="userNavigation-label" hidden>Din brugermenu</h2>
                        <button class="menuButton" aria-expanded="false" aria-controls="brugermenu">User</button>
                        <ul id="brugermenu" class="menu" hidden>
                            <li><a href="{{ url_for('profile') }}">Min side</a></li>
                            <li><a href="{{ url_for('logout') }}">Logout</a></li>
                        </ul>
                    </nav>
                {% else %}
                    <a class="globalHeader-link" href="{{ url_for('login') }}">Log ind</a>
                {% endif %}
            </div>
            <form class="globalSearchform" role="search" action="/search">
                <input id="autoComplete" type="text" type="search" name="q" role="searchbox" aria-label="Indtast søgeord" value="{{query}}">
                <button type="submit">Søg</button>
            </form>
        </header>

        <main class="globalMain">
            {% block content %}{% endblock content %}
            <aside>
                <details>
                    <summary>Request</summary>
                    <dl>
                    {% for k, v in request.items() %}
                        <dt>{{k}}</dt>
                        <dd>{{v}}</dd>
                    {% endfor %}
                    </dl>
                </details>
                <details>
                    <summary>Session{% if not request.session %}. Empty{% endif %}</summary>
                    <dl>
                    {% for k, v in request.session.items() %}
                        <dt>{{k}}</dt>
                        <dd>{{v}}</dd>
                    {% endfor %}
                    </dl>
                </details>
            </aside>
        </main>

        <footer class="globalFooter"></footer>
        <!-- <script src="{{url_for('static', path='/js/autocomplete.min.js')}}"></script> -->
        <!-- <script src="{{url_for('static', path='/js/index.js')}}"></script> -->
        <script src="{{url_for('static', path='/js/bookmarks-vanilla.js')}}"></script>
        <script src="{{url_for('static', path='/js/treeLinks.js')}}"></script>
        <script src="{{url_for('static', path='/js/treeitemLinks.js')}}"></script>
        <script src="{{url_for('static', path='/js/accordion.js')}}"></script>
        <script src="{{url_for('static', path='/js/collapsible.js')}}"></script>
        <script src="{{url_for('static', path='/js/menubutton.js')}}"></script>
        <!-- <script src="{{url_for('static', path='/js/load.js')}}"></script> -->
        {% block extra_scripts %}{% endblock extra_scripts %}
    </body>
</html>
