<!doctype html>
<html lang="da" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ pagetitle }}</title>
        <meta name="description" content="{% block description %}{% endblock description %}">
        <link href="{{ url_for('static', path='/css/variables.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='/css/global.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='/css/header.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='/css/forms.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='/css/search.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='/css/treeview.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='/css/accordion.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='/css/collapsible.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='/css/menubutton.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='/css/menu.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='/css/details.css') }}" rel="stylesheet">
        <meta property="og:image" content="{{ url_for('static', path='/images/logo.png') }}">
        <meta property="og:url" content="">
        <meta name="twitter:card" content="{% block twitter_card %}{% endblock twitter_card %}">
        <!--  Non-Essential, But Recommended -->
        <meta property="og:site_name" content="Aarhusarkivet.dk">
        <meta name="twitter:image:alt" content="{% block twitter_img %}{% endblock twitter_img %}">
        <!-- Inline js not allowed. Change the rule -->
        <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
        {% block extra_head %}{% endblock extra_head %}
    </head>

    <body class="{{ pageclass }}">
        <header class="globalHeader" aria-label="Aarhusarkivets menubar">
            <h1 id="globalLogo">
                <a href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', path='/images/logo_white.png') }}" alt="Gå til forsiden af Aarhusarkivet">
                </a>
            </h1>

            <nav id="globalMenu" aria-label="Hovedmenu">
                <details class="menu">
                    <summary>Menu</summary>
                    <div class="menu-content">
                        <a href="{{ url_for('about') }}">About</a>
                        <a href="/resources/records/191801">Sample Record</a>
                        {% if request.session.get("user") %}
                            <a href="{{ url_for('profile') }}">Min side</a>
                        {% else %}
                            <a href="{{ url_for('login') }}">Log ind</a>
                        {% endif %}
                    </div>
                </details>

                {#
                <h2 id="globalNavigation-label" data-collapsible-header>Menu</h2>
                <ul id="globalNavigation-list" aria-labelledby="globalNavigation-label">
                    <li role="presentation">
                        <a href="{{ url_for('about') }}">About</a>
                    </li>
                    <li role="presentation">
                        <a href="/resources/records/191801">Sample Record</a>
                    </li>
                    {% if request.session.get("user") %}
                        <li role="presentation">
                            <a href="{{ url_for('profile') }}">Min side</a>
                        </li>
                    {% else %}
                        <li role="presentation">
                            <a href="{{ url_for('login') }}">Log ind</a>
                        </li>
                    {% endif %}
                </ul>
                #}
            </nav>
            
            <form id="globalSearchform" role="search" action="/search" aria-label="Fuldtekstsøgning i Aarhusarkivets samlinger">
                <label for="autoComplete" class="sr-only">Indtast en eller flere søgeor</label>
                <input id="autoComplete" type="search" name="q" aria-label="Indtast søgeord" value="{% if query %}{{query}}{% endif %}">
                <button type="submit">Søg</button>
            </form>
        </header>

        <main id="main" aria-label="Sidens indhold">
            {% block content %}{% endblock content %}
        </main>

        <footer class="globalFooter">Footer</footer>
        <!-- <script src="{{url_for('static', path='/js/autocomplete.min.js')}}"></script> -->
        <!-- <script src="{{url_for('static', path='/js/index.js')}}"></script> -->
        <script src="{{url_for('static', path='/js/app.js')}}"></script>
        <script src="{{url_for('static', path='/js/bookmarks-vanilla.js')}}"></script>
        <script src="{{url_for('static', path='/js/treeLinks.js')}}"></script>
        <script src="{{url_for('static', path='/js/treeitemLinks.js')}}"></script>
        <script src="{{url_for('static', path='/js/accordion.js')}}"></script>
        <script src="{{url_for('static', path='/js/collapsible.js')}}"></script>
        <script src="{{url_for('static', path='/js/menubutton.js')}}"></script>
        <script src="{{url_for('static', path='/js/menu.js')}}"></script>
        {% block extra_scripts %}{% endblock extra_scripts %}
    </body>
</html>
