
{% macro iterate_dict(dict_) %}
    <dl>
    {% for key, value in dict_.items() %}
            <dt class="schema-key">{{ key }}</dt>
            {% if value is mapping %}
                <dd class="schema-value schema-dict">
                    {{ iterate_dict(value) }}
                </dd>
            {% elif value is iterable and value is not string %}
                <dd class="schema-value schema-list">
                    {{ iterate_list(value) }}
                </dd>
            {% else %}
                <dd class="schema-value">{{ value }}</dd>
            {% endif %}
    {% endfor %}
    </dl>
{% endmacro %}

{% macro iterate_list(list_) %}
    {% for idx in list_ %}
        {% if idx is mapping %}
            {{ iterate_dict(idx) }}
        {% elif idx is iterable and idx is not string %}
            {{ iterate_list(idx) }}
        {% else %}
            {{ idx }}
        {% endif %}
    {% endfor %}
{%-endmacro %}

{#
{% macro iterate_dict(dict_) %}
    {% for key, value in dict_.items() %}
        <li class="schema-prop">
            <span class="schema-key">{{ key }}</span>
            {% if value is mapping %}
                <ul class="schema-value schema-dict">
                    {{ iterate_dict(value) }}
                </ul>
            {% elif value is iterable and value is not string %}
                <ul class="schema-value schema-list">
                    {{ iterate_list(value) }}
                </ul>
            {% else %}
                <span class="schema-value">{{ value }}</span>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% macro iterate_list(list_) %}
    {% for idx in list_ %}
        <li class="schema-idx">
        {% if idx is mapping %}
            <ul class="schema-value schema-dict">
                {{ iterate_dict(idx) }}
            </ul>
        {% elif idx is iterable and idx is not string %}
            <ul class="schema-value schema-list">
                {{ iterate_list(idx) }}
            </ul>
        {% else %}
            <span class="schema-value">{{ idx }}</span>
        {% endif %}
        </li>
    {% endfor %}
{%-endmacro %}
#}