{#
    structure = {
        "str": "value",
        "dict": {"key1": "val1", "key2": "val2"},
        "list": [
            {"idx0key1": "idx0val1"},
            ["idx1idx0", "idx1idx0"],
            "idx2",
        ],
    }
#}

{% macro iterate_dict(dict_) %}
    {% for key, value in dict_.items() %}
        <li class="schema-prop">
            <span class="schema-key" style="padding-right:.5em;border-right:1px solid black;">{{ key }}</span>
            {% if value is mapping %}
                <ul class="schema-value schema-dict">
                    {{ iterate_dict(value) }}
                </ul>
            {% elif value is iterable and value is not string %}
                <ol class="schema-value schema-list">
                    {{ iterate_list(value) }}
                </ol>
            {% else %}
                <span class="schema-value">{{ value }}</span>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% macro iterate_list(list_) %}
    {% for idx in list_ %}
        <li class="schema-idx">
        {% if idx is mapping %}
            <ul class="schema-value schema-dict">
                {{ iterate_dict(idx) }}
            </ul>
        {% elif idx is iterable and idx is not string %}
            <ol class="schema-value schema-list">
                {{ iterate_list(idx) }}
            </ol>
        {% else %}
            <span class="schema-value">{{ idx }}</span>
        {% endif %}
        </li>
    {% endfor %}
{%-endmacro %}