{% extends "base.html" %}

{% import "macros.html" as macros %}

{% set pageclass = "resourcepage" %}

{% set r = resource %}
{% set copyright_id = r.copyright_status.get('id') %}
{% set legal_id = r.other_legal_restrictions.get('id') %}
{% set contractual_id = r.contractual_status.get('id') %}
{% set availability_id = r.availability.get('id') %}
{% set usability_id = r.usability.get('id') %}
{% if r.representations %}
    {% set record_type = r.representations.get('record_type') %}
{% endif %}

{# Determine title #}
{% if collection in ['people', 'organisations', 'events', 'locations', 'objects', 'collections'] %}
    {% if r.display_label %}
        {% set title = r.display_label %}
    {% else %}
        {% set title = "[Entitet uden titel]" %}
    {% endif %}
{% else %}
    {% if r.title %}
        {% set label = r.title %}
    {% elif r.heading %}
        {% set label = r.heading %}
    {% elif r.summary %}
        {% set label = "[" + r.summary|truncate(200) + "]" %}
    {% else %}
        {% set label = "[Materiale uden titel]" %}
    {% endif %}

    {% set title = label|truncate(80) %}
{% endif %}

{% set pagetitle = title %}

{% block extra_head %}
    <link href="{{ url_for('static', path='/css/resource.css') }}" rel="stylesheet">
{% endblock extra_head %}

{% block content %}
<article class="resource">
    <div class="resource-hero">
        <div class="resource-representation">
            {% if r.portrait and legal_id == 1 and contractual_id > 2 %}
                {% if availability_id == 4 or request.session.get('is_employee') %}
                    {% if r.representations and record_type == 'video' %}
                        <div class="resource-video">
                            <a href="https://vimeo.com/{{r.representations.get('vimeo_id')}}">
                                <img class="resource-portrait" src="{{r.portrait}}"/>
                            </a>
                        </div>
                    {% elif r.representations and record_type == 'image' %}
                        <div class="resource-image">
                            <a href="{{r.representations.get('large_image')}}">
                                <img class="resource-portrait" src="{{r.portrait}}"/>
                            </a>
                        </div>
                    {% elif r.representations and record_type == 'web_document' %}
                        <div class="resource-document">
                            <a href="{{r.representations.get('web_document_url')}}">
                                <img class="resource-portrait" src="{{r.portrait}}"/>
                            </a>
                        </div>
                        <p>Klik på billedet for at hente pdf-dokumentet.</p>
                    {% endif %}
                {% else %}
                    <p>Låseikon</p>
                    <p>Materialet kan ses på læsesalen.</p>
                {% endif %}
            {% else %}
                <p>Ikon som repræsenterer materialet</p>
            {% endif %}
            {% if r.latitude %}
                <div class="resource-map">
                    <img src="https://api.mapbox.com/styles/v1/cjk/ckg7ka2cv34n419nr8os076f3/static/pin-m-circle+7da2ca({{r.longitude}},{{r.latitude}})/{{r.longitude}},{{r.latitude}},17/640x640@2x?access_token=pk.eyJ1IjoiY2prIiwiYSI6ImNqZDdmanYzaDBjNnUzNHA1d2xldWZ4NjMifQ.53Ja6IuQ88Vr3UhrV2Ybmg">
                    <span class="align-right" style="font-size:75%">
                        © <a href='https://www.mapbox.com/about/maps/'>Mapbox</a>
                        © <a href='http://www.openstreetmap.org/copyright'>OpenStreetMap</a>
                    </span>
                </div>
            {% endif %}
        </div>
        {% if prev_item or next_item %}    
            <nav class="resource-relations" aria-label="Relaterede søgeresultater">
                <div>
                    {% if prev_item %}
                        <a href="/resources/records/{{prev_item}}">
                            <span class="pagination-icon" aria-hidden="true"><</span>
                            <span class="sr-only">Forrige resultat</span>
                        </a>
                    {% endif %}
                    {% if next_item %}
                        <a href="/resources/records/{{next_item}}">
                            <span class="pagination-icon" aria-hidden="true">></span>
                            <span class="sr-only">Næste resultat</span>
                        </a>
                    {% endif %}
                </div>
                {% if current_search %}
                    <a href="/search?{{current_search}}"><< Tilbage til søgningen</a>
                {% endif %}
            </nav>
        {% endif %}
        <div class="resource-core">
            <h1 id="resource-title">{{label}}</h1>
            <table>
                <caption>
                    <h2 aria-labelledby="resource-core-label" class="sr-only">Hovedinformation</h2>
                    <span id="resource-core-label" class="sr-only">. Tabel med centrale informationer om materialet. Første kolonne er feltnavne, anden kolonne er værdier</span>
                </caption>
                <tbody>

                    {% if r.collectors %}
                        <tr>
                            <th scope="row">Arkivskaber</th>
                            <td>
                                {% for item in r.collectors %}
                                    <a href="/search?{{item.new_link}}">{{item.label}}</a>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
    
                    <tr>
                        <th scope="row">Materialetype</th>
                        <td><ul role="presentation">
                        {% for hierarchy in r.content_types %}
                            {% for item in hierarchy %}
                                <li role="presentation">
                                    {% if not loop.first %}<span aria-hidden="true">>&nbsp;</span>{% endif %}
                                    <a href="/search?{{item.new_link}}">{{item.label}}</a>
                                </li>                            
                            {% endfor %}
                        {% endfor %}
                        </ul></td>
                    </tr>
    
                    {% if r.creators %}
                        <tr>
                            <th scope="row">Kreativt ophav</th>
                            <td><ul role="presentation">
                            {% for item in r.creators %}
                                <li role="presentation"><a href="/search?{{item.new_link}}">{{item.label}}</a></li>
                            {% endfor %}
                            </ul></td>
                        </tr>
                    {% endif %}
    
                    <tr>
                        <th scope="row">Datering</th>
                        <td>
                        {% if r.date_from %}
                            {% if r.date_to %}
                                {% if r.date_to == r.date_from %}
                                    <span>{{r.date_from}}</span>
                                {% elif r.date_from[0:7] == r.date_to[0:7] %}
                                    <span>{{r.date_from[0:7]}}</span>
                                {% elif r.date_from[0:4] == r.date_to[0:4] and (r.date_from[5:10] == '01-01') %}
                                    <span>{{r.date_from[0:4]}}</span>
                                {% elif r.date_from[5:10] == '01-01' and (r.date_to[5:10] == '12-31') %}
                                    <span>{{r.date_from[0:4]}} - {{r.date_to[0:4]}}</span>
                                {% else %}
                                    <span>{{r.date_from}} - {{r.date_to}}</span>
                                {% endif %}
                            {% else %}
                                <span>{{r.date_from}} -</span>
                            {% endif %}
                        {% elif r.date_to %}
                            <span>~ {{r.date_to}}</span>
                        {% else %}
                            <span>Udateret</span>
                        {% endif %}
                        </td>
                    </tr>
    
                    <tr>
                        <th scope="row">Kurator</th>
                        <td><ul role="presentation">
                        {% for item in r.curators %}
                            <li role="presentation"><a href="/search?{{item.new_link}}">{{item.label}}</a></li>
                        {% endfor %}
                        </ul></td>
                    </tr>
    
                    <tr>
                        <th scope="row">Arkiv ID</th>
                        <td>{{r.id}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {# Description #}
    <table>
        <caption>
            <h2 aria-labelledby="resource-description-label">Beskrivelse</h2>
            <span id="resource-description-label" class="sr-only">. Tabel med beskrivende informationer om materialet. Første kolonne er feltnavne, anden kolonne er værdier</span>
        </caption>
        <tbody>
        {% if r.title and r.title != title %}
            <tr><th scope="row">Titel</th><td>{{r.title}}</td></tr>
        {% endif %}

        {% if r.heading and r.heading != title %}
            <tr><th scope="row">Overskrift</th><td>{{r.heading}}</td></tr>
        {% endif %}

        {% if r.summary and r.summary != title %}
            <tr><th scope="row">Abstrakt</th><td>{{r.summary}}</td></tr>
        {% endif %}
    
        {% if r.description and r.description != title %}
            <tr><th scope="row">Beskrivelse</th><td>{{r.description}}</td></tr>
        {% endif %}
    
        {% if r.desc_notes %}
            <tr><th scope="row">Deskriptiv note</th><td>{{r.desc_notes}}</td></tr>
        {% endif %}
    
        {% if r.collection %}
            <tr>
                <th scope="row">Samling</th>
                <td><a href="/search?{{r.collection.get('new_link')}}">{{r.collection.get('label')}}</a></td>
            </tr>
        {% endif %}
    
        {% if r.series %}
            <tr>
                <th scope="row">Serie</th>
                <td><ul>
                {% for item in r.series %}
                    <li role="none">
                        {% if not loop.first %}<span aria-hidden="true">>&nbsp;</span>{% endif %}
                        <a role="listitem" href="/search?{{item.new_link}}">{{item.label}}</a>
                    </li>
                {% endfor %}
                </ul></td>
            </tr>
        {% endif %}
    
        {% if r.collection_tags and r.collection %}
            <tr>
                <th scope="row">Samlingstags</th>
                <td><ul role="presentation">
                {% for item in r.collection_tags recursive %}
                    {% set child = item.path|length > item.label|length %}
                    <li role="presentation">
                        {% if child %}<span aria-hidden="true">></span>{% endif %}
                        <a href="/search?{{r.collection.get('new_link')}}&collection_tags={{item.path|urlencode}}">{{item.label}}</a>
                        {% if item.children %}
                            <ul style="margin-left:.5rem;">
                                {{ loop( item.children ) }}
                            </ul>
                        {% endif %}
                        </li>
                {% endfor %}
                </ul></td>
            </tr>
        {% endif %}
    
        {% if r.subjects %}
            <tr>
                <th scope="row">Emner</th>
                <td>
                {% for hierarchy in r.subjects %}
                    {% for item in hierarchy %}
                        <div>
                            {% if not loop.first %}<span aria-hidden="true">></span>{% endif %}
                            <a class="resource-link" href="/search?{{item.new_link}}">{{item.label}}</a>
                        </div>                            
                    {% endfor %}
                {% endfor %}
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    {# Descriptiondata #}
    {% if r.desc_data %}
        <table>
            <caption>
                <h2 aria-labelledby="resource-descriptiondata-label">Beskrivelsesdata</h2>
                <span id="resource-descriptiondata-label" class="sr-only">. Tabel med type-specifik informationer om materialet. Første kolonne er feltnavne, anden kolonne er værdier</span>
            </caption>
            <tbody>
            {% for k, v in r.desc_data.items() %}
                <tr>
                {# Sejrssedler-undtagelse #}     
                {% if k == "source" and r.collection and r.collection.get('id') == 1 %}
                    <th scope="row">original kilde</th>
                {% else %}
                    <th scope="row">{{k}}</th>
                {% endif %}
                    <td>{{v}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {# Relations #}
    {% if r.locations or r.people or r.events or r.organisations or r.objects %}
        <table>
            <caption>
                <h2 aria-labelledby="resource-relations-label">Relationer</h2>
                <span id="resource-relations-label" class="sr-only">. Tabel med relationer til entiteter som steder, personer og andet.Første kolonne er feltnavne, anden kolonne er værdier</span>   
            </caption>
            <tbody>
            {% if r.locations %}
                <tr>
                    <th scope="row">Steder</th>
                    <td><ul role="presentation">
                        {% for item in r.locations %}
                            <li role="presentation"><a class="resource-link" href="/search?{{item.new_link}}">{{item.label}}</a></li>
                        {% endfor %}
                    </ul></td>
                </tr>
            {% endif %}
            {% if r.people %}
                <tr>
                    <th scope="row">Personer</th>
                    <td><ul role="presentation">
                        {% for item in r.people %}
                            <li role="presentation"><a class="resource-link" href="/search?{{item.new_link}}">{{item.label}}</a></li>
                        {% endfor %}
                    </ul></td>
                </tr>
            {% endif %}
            {% if r.events %}
                <tr>
                    <th scope="row">Begivenheder</th>
                    <td><ul role="presentation">
                        {% for item in r.events %}
                            <li role="presentation"><a class="resource-link" href="/search?{{item.new_link}}">{{item.label}}</a></li>
                        {% endfor %}
                    </ul></td>
                </tr>
            {% endif %}
            {% if r.organisations %}
                <tr>
                    <th scope="row">Organisationer</th>
                    <td><ul role="presentation">
                        {% for item in r.organisations %}
                            <li role="presentation"><a class="resource-link" href="/search?{{item.new_link}}">{{item.label}}</a></li>
                        {% endfor %}
                    </ul></td>
                </tr>
            {% endif %}
            {% if r.objects %}
                <tr>
                    <th scope="row">Objekter</th>
                    <td><ul role="presentation">
                        {% for item in r.objects %}
                            <li role="presentation"><a class="resource-link" href="/search?{{item.new_link}}">{{item.label}}</a></li>
                        {% endfor %}
                    </ul></td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    {% endif %}

    {# Rights #}
    <table>
        <caption>
            <h2 aria-labelledby="resource-rights-label">Rettigheder og aftaler</h2>
            <span id="resource-rights-label" class="sr-only">. Tabel med information om hvilke rettigheder der knytter sig til matierialet. Første kolonne er feltnavne, anden kolonne er værdier</span>
        </caption>
        <tbody>
        <tr>
            <th scope="row">Ophavsret</th>
            <td>
                {{r.copyright_status.get('label')}}
                {% if copyright_id == 1 %}
                    <p>
                        <span>Materialet har ikke værkshøjde og er derfor ikke beskyttet af ophavsret.</span>
                        <span> Der er dermed heller ingen ophavsretslige begrænsninger på gengivelse og publicering af dette materiale.</span>
                    </p>
                {% elif copyright_id == 2 %}
                    <p>
                        <span>Materialet er i offentlig eje, da ophavsretten er udløbet.</span>
                        <span> Der er dermed heller ingen ophavsretslige begrænsninger på gengivelse og publicering af dette materiale.</span>
                    </p>
                {% elif copyright_id == 3 %}
                    <p>
                        <span>Materialet er frigivet af alle ophavsretsholdere til offentlig eje.</span>
                        <span> Der er dermed heller ingen ophavsretslige begrænsninger på gengivelse og publicering af dette materiale.</span>
                    </p>
                {% elif copyright_id == 4 %}
                    <p>
                        <p>Materialet er under ophavsret, men udgives efter aftale under en <a href="https://creativecommons.org/licenses/by/4.0/deed.da">Creative Commons Navngivelse licens</a>.</p>
                        <p>Materialet må derfor gerne gengives og publiceres, så længe man på passende vis krediterer både ophavsmanden/-kvinden og AarhusArkivet.dk</p>
                    </p>
                {% elif copyright_id == 5 %}
                    <p>
                        <p>Materialet er under ophavsret, men udgives efter aftale under en <a href="https://creativecommons.org/licenses/by-nc/4.0/deed.da">Creative Commons Navngivelse Ikke-Kommerciel licens</a>.</p>
                        <p>Materialet må kun gengives og publiceres i ikke-kommercielle sammenhænge, og under forudsætning af en passende kreditering af både ophavsmanden/-kvinden og AarhusArkivet.dk. Dette udelukker publicering på sociale platforme som Facebook og Instagram.</p>
                    </p>
                {% elif copyright_id == 6 %}
                    <p>
                        <span>Ophavsretsaftalen kræver alle rettigheder forbeholdt.</span>
                        <span> Materialet må derfor hverken gengives eller publiceres andetsteds.</span>
                    </p>
                {% elif copyright_id == 7 %}
                    <p>
                        <span>En eller flere nødvendige ophavsretsaftaler mangler, ofte på grund af ukendte skabere eller rettighedshavere.</span>
                        <span> Materialet må derfor hverken gengives eller publiceres andetsteds.</span>
                        <span class="identify-request">Stadsarkivet modtager gerne oplysninger, som kan hjælpe med at identificere den hidtil ukendte ophavsmand/-kvinde.</span>
                    </p>
                {% elif copyright_id == 8 %}
                    <p>
                        <span>Vi har endnu ikke undersøgt materialets ophavsretslige forhold.</span>
                        <span> Materialet må derfor hverken gengives eller publiceres andetsteds.</span>
                        <span class="identify-request">Stadsarkivet modtager gerne oplysninger, som kan hjælpe med at identificere den hidtil ukendte ophavsmand/-kvinde.</span>
                    </p>
                {% elif copyright_id == 9 %}
                    <p>
                        <span>Materialets ophavsretslige status er undersøgt, men stadig uafklaret.</span>
                        <span> Materialet må derfor hverken gengives eller publiceres andetsteds.</span>
                        <span class="identify-request">Stadsarkivet modtager gerne oplysninger, som kan hjælpe med at identificere den hidtil ukendte ophavsmand/-kvinde.</span>
                    </p>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row">Aftaleforhold</th>
            <td>
                {% if contractual_id == 1 %}
                    Materialet er utilgængeligt. Ifølge aftale.
                {% elif contractual_id == 2 %}
                    Materialet er kun tilgængeligt gennem ansøgning. Ifølge aftale.
                {% elif contractual_id == 3 %}
                    Materialet må kun ses på læsesalen. Ifølge aftale.
                {% elif contractual_id == 4 %}
                    {% set creators = {'pp': False} %}

                    {% if r.creators %}
                        {% for i in r.creators %}
                            {% if i.id == 108691 %}
                                {% if creators.update({'pp': True}) %}{% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% if creators.pp %}
                        Materialet må kun offentliggøres på Aarhus Stadsarkivs hjemmesider. Ifølge aftale.
                    {% else %}
                        Materialet må offentliggøres på internettet. Ifølge aftale.
                    {% endif %}
                {% else %}
                    Materialet er ikke begrænset af kontraktuelle klausuler.
                {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row">Lovgivning</th>
            <td>
                {% if legal_id == 1 %}
                    Materialet er ikke underlagt andre juridiske begrænsninger af tilgængeligheden.
                {% elif legal_id == 2 %}
                    Materialet er utilgængeligt ifølge persondatalovgivningen.
                {% elif legal_id == 3 %}
                    Materialet er utilgængeligt ifølge arkivlovgivningen.
                {% elif legal_id == 4 %}
                    Materialet er utilgængeligt som følge af særlige juridiske forhold.
                {% endif %}
            </td>
        </tr>
        {% if r.rights_notes %}
            <tr>
                <th scope="row">Rettighedsnoter</th>
                <td>{{r.rights_notes}}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    {# Availability and re-use #}
    <table>
        <caption>
            <h2 aria-labelledby="resource-availability-label">Tilgængelighed</h2>
            <span id="resource-availability-label" class="sr-only">. Tabel med information om materialets tilgængelighed. Første kolonne er feltnavne, anden kolonne er værdier</span>
        </caption>
        <tbody>
        <tr>
            <th scope="row">Tilgængelighed</th>
            <td>
                {% if legal_id > 1 or contractual_id == 1 %}
                    Materialet er utilgængeligt som følge af nævnte juridiske forhold.
                {% elif contractual_id == 2 %}
                    Materialet er kun tilgængeligt gennem ansøgning.
                {% elif availability_id == 2 %}
                    Materialet skal bestilles hjem til læsesalen, før det kan beses.
                {% elif availability_id == 3 %}
                    Materialet er tilgængeligt på læsesalen. Der kræves ikke forudgående bestilling for at se materialer på læsesalen. Man skal blot møde op i åbningstiderne.
                {% else %}
                    Materialet er online her på Aarhusarkivet.dk, men det er det enkelte materiales ophavsretslige status, der fastsætter, hvad et givent materiale videre må bruges til.
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    {% if user %}
        {% set already = r.id in (user.get("bookmarks") or []) %}
        <button data-resource-id="{{r.id}}" class="js-only bookmark-handler{% if already %} hide{% endif %}" data-action="create-bookmark">Bogmærk</button>
        <button data-resource-id="{{r.id}}" class="js-only bookmark-handler{% if not already %} hide{% endif %}" data-action="delete-bookmark">Fjern bogmærke</button>
    {% endif %}

</article>
{% endblock content %}