{% extends "base.jinja" %}
{% import "macros.jinja" as macros %}

{% block content %}
<div role="main">

    <ul class="schema">
        {{ macros.iterate_dict(structure) }}
    </ul>

{#
    structure = {
        "str": "value",
        "dict": {"key1": "val1", "key2": "val2"},
        "list": [
            {"idx0key1": "idx0val1"},
            ["idx1idx0", "idx1idx0"],
            "idx2",
        ],
    }
#}

</div>
{% endblock %}