{% extends "base.html" %}

{# Vars used by zeroHits-component #}
{% set vars = {"date_from_dict": False, "date_to_dict": False} %}

{% set pagetitle = "Søgeresultat | AarhusArkivet" %}
{% set pageclass = "searchpage" %}

{% block content %}
<div class="searchPage">

    <section id="filterSection" class="searchfilters" aria-labelledby="filterSection-header">
        <details id="filterSection-details" class="disclosure">
            <summary class="flex button" aria-haspopup="true">
                <h2 id="filterSection-header" class="title">Søgefiltre <span aria-hidden="true">{% if filters %}({{filters|length}}){% endif %}</span></h2>
                <svg class="icon" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M12.78 6.22a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06 0L3.22 7.28a.75.75 0 011.06-1.06L8 9.94l3.72-3.72a.75.75 0 011.06 0z"></path></svg>
            </summary>
            <div>
                {% if filters %}
                    <div class="activeFilters">
                        <h3 class="filterSection-heading">Aktive søgefiltre</h3>
                        {% include 'components/filters.html' %}
                    </div>
                {% endif %}
                <div class="facets">
                    <h3 class="filterSection-heading">Søgefiltre</h3>
                    {% include 'components/facets.html' %}
                </div>
            </div>
        </details>
    </section>

    {% if result %}
        <section id="toolbarSection" class="searchToolbar" aria-labelledby="toolbarSection-header">
            <h2 id="toolbarSection-header" class="sr-only">Toolbar</h2>
            <nav class="search-actions" aria-label="Search Actions">
                <a href="#">
                    <span class="sr-only">Print søgningen</span>
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path d="M11.25 9.331V.75a.75.75 0 011.5 0v8.58l1.949-2.11A.75.75 0 1115.8 8.237l-3.25 3.52a.75.75 0 01-1.102 0l-3.25-3.52A.75.75 0 119.3 7.22l1.949 2.111z"></path>
                        <path fill-rule="evenodd" d="M2.5 3.75a.25.25 0 01.25-.25h5.5a.75.75 0 100-1.5h-5.5A1.75 1.75 0 001 3.75v11.5c0 .966.784 1.75 1.75 1.75h6.204c-.171 1.375-.805 2.652-1.77 3.757A.75.75 0 007.75 22h8.5a.75.75 0 00.565-1.243c-.964-1.105-1.598-2.382-1.769-3.757h6.204A1.75 1.75 0 0023 15.25V3.75A1.75 1.75 0 0021.25 2h-5.5a.75.75 0 000 1.5h5.5a.25.25 0 01.25.25v11.5a.25.25 0 01-.25.25H2.75a.25.25 0 01-.25-.25V3.75zM10.463 17c-.126 1.266-.564 2.445-1.223 3.5h5.52c-.66-1.055-1.098-2.234-1.223-3.5h-3.074z"></path>
                    </svg></a>
                <a href="#">
                    <span class="sr-only">Del søgningen</span>
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill-rule="evenodd" d="M20 5.5a3.5 3.5 0 01-6.062 2.385l-5.112 3.021a3.497 3.497 0 010 2.188l5.112 3.021a3.5 3.5 0 11-.764 1.29l-5.112-3.02a3.5 3.5 0 110-4.77l5.112-3.021v.001A3.5 3.5 0 1120 5.5zm-1.5 0a2 2 0 11-4 0 2 2 0 014 0zM5.5 14a2 2 0 100-4 2 2 0 000 4zm13 4.5a2 2 0 11-4 0 2 2 0 014 0z"></path>
                    </svg></a>
                <a href="#">
                    <span class="sr-only">Gem søgningen</span>
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill-rule="evenodd" d="M5 3.75C5 2.784 5.784 2 6.75 2h10.5c.966 0 1.75.784 1.75 1.75v17.5a.75.75 0 01-1.218.586L12 17.21l-5.781 4.625A.75.75 0 015 21.25V3.75zm1.75-.25a.25.25 0 00-.25.25v15.94l5.031-4.026a.75.75 0 01.938 0L17.5 19.69V3.75a.25.25 0 00-.25-.25H6.75z"></path>
                    </svg></a>
                <a href="#">
                    <span class="sr-only">Sæt søgningen på huskelisten</span>
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill-rule="evenodd" d="M12 .25a.75.75 0 01.673.418l3.058 6.197 6.839.994a.75.75 0 01.415 1.279l-4.948 4.823 1.168 6.811a.75.75 0 01-1.088.791L12 18.347l-6.117 3.216a.75.75 0 01-1.088-.79l1.168-6.812-4.948-4.823a.75.75 0 01.416-1.28l6.838-.993L11.328.668A.75.75 0 0112 .25zm0 2.445L9.44 7.882a.75.75 0 01-.565.41l-5.725.832 4.143 4.038a.75.75 0 01.215.664l-.978 5.702 5.121-2.692a.75.75 0 01.698 0l5.12 2.692-.977-5.702a.75.75 0 01.215-.664l4.143-4.038-5.725-.831a.75.75 0 01-.565-.41L12 2.694z"></path>
                    </svg></a>
            </nav>

            <nav class="search-views" aria-label="Search views">
                <details class="disclosure">
                    <summary class="flex" aria-haspopup="true">
                        <h3 class="title">Visning</h3>
                        <svg class="icon" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M12.78 6.22a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06 0L3.22 7.28a.75.75 0 011.06-1.06L8 9.94l3.72-3.72a.75.75 0 011.06 0z"></path></svg>
                    </summary>
                    <div class="dropdown-right">
                        {% if size_list %}
                            {% for s in size_list %}
                                {% if s.selected %}
                                    <a href="{{request.url}}" aria-current="page" aria-disabled="true">{{s.label}} per side</a>
                                {% else %}
                                    <a href="/search?{{s.link}}">{{s.label}} per side</a>
                                {% endif %}
                            {% endfor %}
                            <hr>
                        {% endif %}
                        {% if sort_list %}
                            {% for s in sort_list %}
                                {% if s.selected %}
                                    <a href="{{request.url}}" aria-current="page" aria-disabled="true">{{s.label}}</a>
                                {% else %}
                                    <a href="/search?{{s.link}}">{{s.label}}</a>
                                {% endif %}
                            {% endfor %}
                            <hr>
                        {% endif %}
                        {% if view_list %}
                            {% for s in view_list %}
                                {% if s.selected %}
                                    <a href="{{request.url}}" aria-current="page" aria-disabled="true">{{s.label}}</a>
                                {% else %}
                                    <a href="/search?{{s.link}}">{{s.label}}</a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </details>
            </nav>

            <div class="search-pagination-wrapper">
                {% include 'components/pagination-search.html' %}
            </div>
        </section>
    {% endif %}

    <section class="searchResults" aria-labelledby="searchResults-header">
        <h2 id="searchResults-header" class="sr-only">Søgeresultater</h2>
        {% if result %}
            {% if view == 'gallery' %}
                <div class="gallery">
                {% for record in result %}
                    {% include "components/galleryitem.html" %}
                {% endfor %}
                </div>
            {% elif view == 'list' %}
                <div class="list">
                {% for record in result %}
                    {% include 'components/listitem.html' %}
                {% endfor %}
                </div>
            {% endif %}
        {% else %}
            <div class="zeroHits">
                {% include 'components/zero-hits.html' %}
            </div>
        {% endif %}
    </section>
    {% if next or previous %}
        <div class="pagination-footer">
            {% include 'components/pagination-search.html' %}
        </div>
    {% endif %}
</div>
{% endblock %}