<!DOCTYPE html>
<html>
    <head>
        <title>Video streaming</title>
    </head>
    <body>
        <!--
        <div>
            <h3>Azure</h3>
            <video width="400" controls muted="muted">
                <source src="https://aarhusstadsarkiv.blob.core.windows.net/test/3%20different%20sound%20modes%20with%20Bi-wire%20speakers.mp4" type="video/mp4" />
            </video>
        </div>
         -->
        <!--
        <div>
            <h3>Response</h3>
            <video width="400" controls muted="muted">
                <source src="/resources/videostream" type="video/mp4" />
            </video>
        </div>
         -->
        <div>
            <h3>FileResponse</h3>
            <video width="400" controls muted="muted">
                <source src="/resources/videofile" type="video/mp4" />
            </video>
        </div>
    </body>
</html>