{# Filter-list #}

{#
    <svg class="icon">
        <use xlink:href="/static/images/sprites.svg#icon-angle-down"></use>
    </svg>
    <svg class="icon">
        <use xlink:href="/static/images/sprites.svg#icon-angle-up"></use>
    </svg>
#}

{% set filter_labels ={"availability": "Tilgængelighed", "usability": "Brugbarhed", "content_types": "Materialetype", "subjects": "Emne", "collection": "Samling"} %}

{% for f in filters %}
    <span class="filter-title">{{f.key}}</span>
    <h4 id="facetHeader-{{f.key}}" class="facetHeader" data-collapsible-header>
        {% if f.key == 'date_from' %}
            {% if f.value[-1:-5] == '0101' %}
                {{f.value[0:4]}} og senere
            {% else %}
                {{f.value[0:4]}}-{{f.value[4:6]}}-{{f.value[6:8]}} og senere
            {% endif %}
        {% elif f.key == 'date_to' %}
            {% if f.value[-1:-5] == '1231' %}
                {{f.value[0:4]}} og tidligere
            {% else %}
                {{f.value[0:4]}}-{{f.value[4:6]}}-{{f.value[6:8]}} og tidligere
            {% endif %}
        {% else %}
            {% if f.label %}
                {{f.label}}
            {% else %}
                {{f.value}}
            {% endif %}
        {% endif %}
    </h4>
    <ul class="facetPanel" aria-labelledby="facetHeader-{{f.key}}">
        {# Present on all filters #}
        <li role="presentation">
            <a class="facetItem-header" href="/search?{{f.remove_link}}">Fjern filteret fra søgningen</a>
        </li>
        {# Present on all id-based queryparams #}
        {% if f.invert_link and f.key not in ['date_from', 'date_to', 'series'] %}
            <li role="presentation">
                <a class="facetItem-header" href="/search?{{f.invert_link}}">Vend til {% if f.negated%}positivt{% else%}negativt{% endif %} filter</a>
            </li>
        {% endif %}

        {# Present on some people and organisations #}
        {% if f.creator_link %}
            <li role="presentation">
                <a class="facetItem-header" href="/search?{{f.creator_link}}">Søg som kreativt ophav</a>
            </li>
        {% endif %}

        {# Present on some people and organisations #}
        {% if f.collector_link %}
            <li role="presentation">
                <a class="facetItem-header" href="/search?{{f.collector_link}}">Søg som arkivskaber</a>
            </li>
        {% endif %}

        {# If more than one filter #}
        {% if filters|length() > 1 and f.key != 'series' %}
            <li role="presentation">
                <a class="facetItem-header" href="/search?{{f.key}}={{f.value}}">Ny søgning med kun dette filter</a>
            </li>
        {% endif %}
    </ul>
{% endfor %}
<p>
    <a href="/search">Ryd alle aktive filtre</a>
</p>