{# Pagination element for resource-pages #}
<nav class="resource-pagination" aria-label="Paginering">
    <div>
        {% if prev_item %}
            <a class="link prev" href="/resources/records/{{prev_item}}"><span>Forrige</span><span class="sr-only">resultat</span></a>
        {% endif %}
        {% if next_item %}
            <a class="link next" href="/resources/records/{{next_item}}"><span>Næste</span><span class="sr-only">resultat</span></a>
        {% endif %}
    </div>
    {% if current_search %}
        <div><a class="link" href="/search?{{current_search}}">Til søgeresultatet</a></div>    
        {% endif %}
</nav>