{% extends "base.html" %}

{% block bodyclass %}userpage{% endblock %}

{% block content %}
<h1>User - editor</h1>
<form class="form" action="{{ url_for('profile') }}" method="POST">
    <fieldset>
        <legend>Redigér brugeroplysninger</legend>
        <div class="tooltip-wrapper">
            <label for="username">Brugernavn</label>
            <input type="text" id="username" name="username" aria-describedby="username-tip" />
            <div role="tooltip" id="username-tip">Indtast nyt brugernavn</div>
        </div>
        <button type="submit">Opdatér</button>
    </fieldset>
</form>
{% endblock %}